h2 {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  align-items: center;
  font-weight: 500;
}
.container {
  gap: 0;
}

h2 fa-icon {
  position: relative;
  color: var(--primary);
  font-size: 3.8rem;
}

h2 fa-icon::before {
  content: "";
  position: absolute;
  display: block;
  height: 5rem;
  width: 5rem;
  background-color: #fff;
  right: -6px;
  top: 3px;
  z-index: -1;
  border-radius: 0.4rem;
}

.main h3 {
  background-color: #484848;
  padding: 1.4rem 1.6rem;
  text-align: center;
  font-weight: 500;
  border-radius: 0.4rem 0.4rem 0 0;
}

.main section {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
  color: #000;
  background-color: var(--white-primary);
  border-radius: 0 0 0.4rem 0.4rem;
  flex: 1 1 20%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

form .form-group {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

form .actions {
  display: flex;
  width: 100%;
  gap: 1.6rem;
  justify-content: center;
}

p,
label span {
  font-weight: 600;
}

p span {
  color: #286775;
}
