<app-navigation
  title="Editando Registro: # {{ transactionId }}"
  [iconTitle]="faDollar"
  [iconNavigateBack]="faArrowBack"
  labelNavigateBack="Voltar"
></app-navigation>

<main class="main container">
  <h3>{{ transactionType | titlecase }}</h3>
  <section>
    <p>
      Editando: <span>{{ transactionType | titlecase }}</span>
    </p>
    <p>De: R$ {{ currentTransaction.valor }}</p>
    <form (submit)="submit()" [formGroup]="editForm" #formDir="ngForm">
      <div class="form-group">
        <label for="value"><span>Para:</span></label>
        <input
          formControlName="valor"
          type="number"
          name="value"
          placeholder="R$ {{ currentTransaction.valor }}"
          required
          value=""
        />
      </div>

      <div class="actions">
        <button class="btn btn-back">Voltar</button>
        <input class="btn btn-edit" type="submit" value="Editar" />
      </div>
    </form>
  </section>
</main>
