<app-navigation
  [title]="'Consultando Transações'"
  [iconTitle]="faInvoice"
  [iconNavigateBack]="faArrowBack"
  labelNavigateBack="Voltar"
></app-navigation>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.id_tipos_transacao | titlecase }}</td>
        <td>
          R$ {{ transaction.valor | number : "1.2" }}
          <button>
            <a
              routerLink="/transaction/view/{{
                transaction.id_tipos_transacao
              }}/{{ transaction.id }}"
              >Ver Detalhes</a
            >
          </button>
        </td>
        <td>{{ transaction.data | date : "dd/MM/yy" }}</td>
      </tr>
    </tbody>
  </table>
</div>
