<nav>
  <h2><fa-icon [icon]="faInvoice"></fa-icon> Consultando Transações</h2>
</nav>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Valor</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dízimo</td>
        <td>
          R$ 150,00 <button><a href="">Ver Detalhes</a></button>
        </td>
        <td>25/12/2023</td>
      </tr>
      <tr>
        <td>Dízimo</td>
        <td>
          R$ 150,00 <button><a href="">Ver Detalhes</a></button>
        </td>
        <td>25/12/2023</td>
      </tr>
    </tbody>
  </table>
</div>
