.container {
  gap: 0;
}

.main h3 {
  background-color: var(--primary-dark);
  padding: 1.4rem 1.6rem;
  text-align: center;
  font-weight: 500;
  border-radius: 0.4rem 0.4rem 0 0;
}

.main section {
  background-color: var(--white-primary);
  color: black;
  padding: 1.6rem;
  border-radius: 0 0 0.4rem 0.4rem;
}

.main section p > span {
  font-weight: 600;
}

.main section p {
  display: flex;
  width: 15rem;
  justify-content: space-between;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin: 1.2rem 0;
  gap: 1.6rem;
}

.actions .btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
