<app-navigation
  title="Consultando Registro: # {{ transactionId }}"
  [iconTitle]="faSearch"
  [iconNavigateBack]="faArrowBack"
  labelNavigateBack="Voltar"
></app-navigation>

<main class="main container">
  <mat-card class="card">
    <mat-card-header>
      <h3 class="title">
        {{ transactionType | uppercase }} - # {{ transaction.id }}
      </h3>
    </mat-card-header>
    <mat-card-content>
      <p><span>Data: </span>{{ transaction.data | date : "dd/MM/yyyy" }}</p>
      <p><span>Valor: </span>R$ {{ transaction.valor | number : "1.2" }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin" class="actions">
      <button class="btn btn-red" (click)="deleteHandler()">Excluir</button>
      <button class="btn btn-edit">
        <a
          routerLink="/transaction/edit/{{ transactionType }}/{{
            transaction.id
          }}"
          >Editar</a
        >
      </button>
    </mat-card-actions>
  </mat-card>
</main>
