<div class="align-right-container">
  <h1>API REST - CHURCH</h1>

  <div class="form-container">
    <h2>Novo Usuário</h2>
    <form (ngSubmit)="submit()" [formGroup]="newUserForm" #formDir="ngForm">
      <div class="form-group">
        <label for="username">Nome:</label>
        <input
          type="text"
          name="nome"
          placeholder="John Doe"
          required
          formControlName="nome"
          minlength="3"
        />
        <div *ngIf="nome.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="nome.errors?.['required']">O nome é obrigatório</p>
          <p *ngIf="nome.errors?.['minLength']">
            O nome deve ter pelo menos 3 letras
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          placeholder="email@email.com"
          required
          formControlName="email"
        />
        <div
          *ngIf="email.invalid && formDir.submitted"
          class="validation-error"
        >
          <p *ngIf="email.errors?.['required']">O email é obrigatório</p>
          <p *ngIf="email.errors?.['minLength']">
            O email deve ter pelo menos 3 letras
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input
          type="password"
          name="senha"
          placeholder="senha"
          required
          formControlName="senha"
        />
      </div>
      <div class="form-group">
        <label for="cargo">Cargo:</label>
        <select name="cargo" id="cargo" formControlName="cargo">
          <option value="" disabled selected>-- Escolha --</option>
          <option value="admin">Administrador</option>
          <option value="membro">Membro</option>
          <option value="tesoureiro">Tesoureiro</option>
        </select>
      </div>
      <button class="submit" type="submit" [disabled]="newUserForm.invalid">
        Cadastrar
      </button>
    </form>
    <p>Já possui uma conta? <a routerLink="/login">Fazer Login</a></p>
  </div>
</div>
