<h2>Escolha uma ação:</h2>

<div class="container">
  <div class="actions-container">
    <h3>Consultar:</h3>
    <div class="actions-slider">
      <div class="action-container-item">
        <div class="action-icon">
          <fa-icon [icon]="faInvoice"></fa-icon>
        </div>
        <div class="action-label">
          <p>Consultar todas as operações</p>
        </div>
      </div>
    </div>
  </div>

  <div class="actions-container">
    <h3>Depositar:</h3>
    <div class="actions-slider">
      <div class="action-container-item">
        <div class="action-icon">
          <fa-icon [icon]="faHoldingDollar"></fa-icon>
        </div>
        <div class="action-label">
          <p>Dízimo</p>
        </div>
      </div>
      <div class="action-container-item">
        <div class="action-icon">
          <fa-icon [icon]="faHoldingHeart"></fa-icon>
        </div>
        <div class="action-label">
          <p>Oferta</p>
        </div>
      </div>
    </div>
  </div>
</div>
