<h2>Escolha uma ação:</h2>

<div class="container">
  <div class="actions-container">
    <h3>Consultar:</h3>
    <div class="actions-slider">
      <div class="action-container-item">
        <div class="action-icon">
          <fa-icon [icon]="faInvoice"></fa-icon>
        </div>
        <a routerLink="/transaction/all" class="action-label"
          >Consultar todas as operações</a
        >
      </div>
    </div>
  </div>

  <div class="actions-container">
    <h3>Depositar:</h3>
    <div class="actions-slider">
      <div class="action-container-item">
        <div class="action-icon">
          <fa-icon [icon]="faHoldingDollar"></fa-icon>
        </div>
        <a routerLink="/transaction/deposit/dizimo" class="action-label"
          >Dízimo</a
        >
      </div>
      <div class="action-container-item">
        <div class="action-icon">
          <fa-icon [icon]="faHoldingHeart"></fa-icon>
        </div>
        <a routerLink="/transaction/deposit/oferta" class="action-label"
          >Oferta</a
        >
      </div>
    </div>
  </div>
</div>
