:root {
  --primary: #3a7ca5;
  --secondary: #2f6690;
  --primary-dark: #16425b;
  --white-primary: #d9dcd6;
  --light-primary: #81c3d7;
  --dark-home-bg: #272727;
  --card-bg: #2e2e2e;
  --dark-icon-color: #2d2d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--dark-home-bg);
  color: #fff;
  font-size: 1.6rem;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 3.2rem;
  padding: 1.6rem 0;
  background-color: var(--primary);
  border-radius: 0 0 0.4rem 0.4rem;
}

.header h1 {
  font-weight: 400;
}

.form-container {
  max-width: 46rem;
  width: 100%;
  background-color: var(--primary);
  padding: 3.2rem;
  border-radius: 0.4rem;
  align-items: center;
  margin-top: 3.2rem;
  margin-bottom: 1.2rem;
}

.form-container h2 {
  text-align: center;
  font-weight: 400;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.4rem;
  align-items: center;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group input {
  padding: 1rem 1.6rem;
  border-radius: 0.4rem;
  border-style: none;
  outline-style: none;
}

.form-container form .submit {
  margin-top: 1.6rem;
  background-color: var(--primary-dark);
  color: #fff;
  padding: 0.8rem 4rem;
  width: min-content;
  border-style: none;
  border-radius: 0.4rem;
  transition: 0.3s;
}

.form-container form .submit:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.container {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

/* TABLES */

table {
  width: 100%;
}

table thead {
  background-color: var(--primary-dark);
}

table tbody tr {
  background-color: var(--primary);
}

table tbody tr td,
table thead tr th {
  padding: 0.6rem 1.2rem;
}

table thead tr th:nth-child(1) {
  border-radius: 0.4rem 0 0 0;
  width: 15rem;
}

table thead tr th:nth-child(3) {
  border-radius: 0 0.4rem 0 0;
  width: 25rem;
}

table tbody tr:last-child td:nth-child(1) {
  border-radius: 0 0 0 0.4rem;
}

table tbody tr:last-child td:nth-child(3) {
  border-radius: 0 0 0.4rem 0;
}

table tbody tr td:nth-child(3) {
  text-align: center;
}

table tbody tr td:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

table tbody tr td button {
  padding: 0.4rem 1.6rem;
  border-radius: 0.4rem;
  background-color: var(--secondary);
  color: #fff;
  font-weight: 500;
  border-style: none;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 0.3s;
}

table tbody tr td button:hover {
  background-color: #604bb9;
}

a {
  text-decoration: none;
  color: inherit;
}

table tbody tr {
  transition: 0.2s;
}

table tbody tr:hover {
  background-color: #4ba1b9;
}

/* BUTTONS */
button {
  background-color: inherit;
  border-style: none;
  color: inherit;
  font-size: inherit;
}

.btn {
  border-radius: var(--round-4, 4px);
  color: #fff;
  font-weight: 600;
  padding: 0.6rem 0.9rem;
  border-style: none;
  width: 24rem;
  transition: 0.3s;
}

.btn.btn-edit {
  background: var(--secondary);
}

.btn.btn-back {
  background: #686868;
}

.btn.btn-red {
  background-color: #902f2f;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--primary);
}

.btn-green {
  background-color: #2f903f;
  color: #fff;
}

/* validation errors */
.validation-error p {
  color: #df3737;
  margin-top: 0.8rem;
  border-left: 0.3rem solid #df3737;
  padding-left: 0.4rem;
  background-color: #cda7a75c;
}
