<div class="centralized-container">
  <h1>API REST - CHURCH</h1>

  <div class="form-container">
    <h2>Fazer Login</h2>
    <form (ngSubmit)="submit()" [formGroup]="loginForm" #formDir="ngForm">
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="email@email.com"
          formControlName="email"
          autocomplete="email"
          required
        />
        <div
          *ngIf="email.invalid && formDir.submitted"
          class="validation-error"
        >
          <p *ngIf="email.errors?.['required']">O email é obrigatório</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
          required
          formControlName="password"
        />
        <div
          *ngIf="password.invalid && formDir.submitted"
          class="validation-error"
        >
          <p *ngIf="password.errors?.['required']">A senha é obrigatória</p>
        </div>
      </div>
      <input class="submit" type="submit" value="Entrar" />
    </form>
  </div>
  <p>Não possui uma conta? <a routerLink="/signup">Cadastrar</a></p>
</div>
